body {
  background-image: url('./tile.jpg');
  align-items: center;
  justify-content: center;
}

main {
  background-image: url('./formbg.jpg');
  align-items: center;
  justify-content: center;
  display: flex; 
  max-width: 70%;
  margin: auto;
  min-width: 420px;
}

.mainHeading {
  font-family: cursive;
    font-size: 70px;
    font-weight: 600;
    color: #fefdfe;
    text-shadow: 0px 0px 5px #b393d3, 0px 0px 10px #b393d3, 0px 0px 10px #b393d3,
    0px 0px 20px #b393d3;
    margin-bottom: 18px;
}

.mainInnerDiv {
  display: flex;
}

.taskInput, .dateInput, .hourInput, .input-group-text {
  margin-top: 13px;
  text-align: center;
}

.btnGroup {
  width: 100px;
  height: 37px;
  margin: 14px 0;
  bottom: 2px;
}

.plusIcon {
  padding-right: 7px;
  font-size: 20px;
}

.tasksContainer {
  display: flex;
  flex-wrap: wrap;
  max-width: 80%;
  margin: auto;
  }
  
.taskDiv {
  background-image: url('./notebg.png');
  width: 200px;
  height: 250px;
  animation: animate1 1s forwards ease-in;
}

@keyframes animate1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.taskDiv:hover .deleteBtn, .taskDiv:hover .markFinishedTask, .taskDiv:hover .editBtn{
  opacity: 1;
  transition: all ease-out 0.3s;
}

.taskText {
  padding-left: 8px;
  padding-bottom: 4px;
  margin-bottom: 25px;
  margin-top: 22px;
  overflow-wrap: break-word;
  width: 174px;
  background-color: transparent;
  border: none;
  height: 143px;
  resize: none;
}

.taskText:focus {
  outline: none;
}

.bottomLineDiv {
  padding-left: 10px;
  color: red;
  position: relative;
  bottom: 20px;
  line-height: 8px;
  z-index: 1;
}

.fa-text-slash:before {
  font-size: 15px;
}

.fillInputs:hover, .resetAllBtn:hover, .saveTaskBtn:hover {
  color: blue;
  font-weight: 700;
}

.editBtn {
  position: relative;
  top: 18px;
  opacity: 0;
  background-color: transparent;
  border: none;
  font-size: 17px;
  left: 35px;
  height: 30px;
}

.markFinishedTask {
  position: relative;
  left: 92px;
  top: 18px;
  opacity: 0;
  background-color: transparent;
  border: none;
  font-size: 20px;
  height: 30px;
}

.deleteBtn {
  position: relative;
  left: 149px;
  top: 20px;
  opacity: 0;
  background-color: transparent;
  border: none;
  font-size: 20px;
  height: 30px;
}

.saveChangesBtn {
  position: relative;
  padding: 1px;
  top: 30px;
  border-radius: 3px;
  border-color: transparent;
  color: red;
  right: 80px;
  background-color: rgb(217, 163, 163, 0.2);
  font-size: 14px;
}

.saveChangesBtn:hover {
  background-color: rgb(217, 163, 163, 0.4);
}

.deleteBtn:hover, .markFinishedTask:hover, .editBtn:hover {
  background-color: rgba(188, 185, 186, 0.3);
  border-radius: 50%;
}

.sortAndSearch {
  display: flex;
    height: 37px;
    position: relative;
    top: 20px;
}

.pinkBtns {
  top: 8px;
}

